.avto{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .avtodiv{
    width: 450px;
    margin: auto;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 30px;
    box-shadow: 0px 50px 100px rgba(20, 114, 186, 0.16);
  }
  .img1{
    display: flex;
    align-items: center;
    justify-content: space-around;
    
  }
  .img1 h1{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    text-align: right;
    color: #000000;
  }
  .avto input{
    width: 80%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #939393;
    margin-bottom: 20px;
    padding-left: 20px;
  }
  .input1{
    width: 80%;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #939393;
    margin-bottom: 20px;
    padding-left: 20px;
    margin-top: 20px;
  }
 
    @media(max-width:460px){
    .avtodiv{
      width: 90%;
    }
  }
.but{
  width: 100%;
  margin-left: 14px;
}
  .but button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 50px;
    width: 152px;
    height: 52px;
    background: #2C358F;
    border-radius: 5px;
    
  }
  .but2 {
    width: 500px;
    display: block;
  }

  .but2 p{
    width: 150px;
    margin-left: -10px;
    text-align: left;
    height: 5px;
  }